{
	"plugins": [
        "transform-class-properties",
        [
            "transform-es2015-modules-umd",
            {

            }
        ]
    ],
	"presets": [
        "react",
        [
            "env",
            {   
                "modules": false,
                "targets": {
                    "browsers": ["last 2 versions", "safari >= 7"]
                }
            }
        ]
    ]
}
